@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

 
:root{
        ---background_color: wheat;
        ---secondary:#0D0D0D;
        ---Third-color:ghostwhite;
        ---font-family: "Edu AU VIC WA NT Hand", cursive;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(---font-family);
}
body{
    background-color: var(---background_color) !important;
}
 
.nav{
        background-color: var(---background_color);
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: space-around;
        z-index: 100;
        padding: 10px;
}
.nav
a{
    text-decoration: none;
    color: var(---secondary);
    font-weight:800;

}
.main{
    background-color: var(---background_color);
    height: auto;
}


.left{
    width: 70%;
   margin: 0 15%;
    /* float: left; */
    border-radius: 10px ;
    object-fit: contain;

}
 

img{
    width: 80px;
    object-fit: contain;
}

.display{
    display:flex;
    flex-direction: column;
}
 .btn-trash{
    box-shadow: 5px 5px 1px;
    background-color: rgba(255, 0, 0, 0.694);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
border-radius: 10px;
transition: 1s;
}
 .btn-trash:hover{
    box-shadow:none;
    transition: 1s;
}

.container{
    border-bottom: 1px solid black;
    margin: 10px;
    padding-bottom:1%;
}


.container .add button{
padding: 5px;
background-color: var(---background_color);
border: 1px solid black;
border-radius: 10px;
box-shadow: 5px 5px 1px;
transition: 1s;
}
.container .subtract button{
    padding: 5px;
    background-color: var(---background_color);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 1px;
    transition: 1s;
}

.container button:hover{
    box-shadow: none;
    transition: 1s;
}

@media(width < 900px) {
    .container{
/* width: 99%; */
bottom: 1px solid black;
        margin: 1px 5%;
        
    }
    .left{
        width: 98%;
        margin: 1% 1%;
    }
    img{
        width: 40px ;
        margin-top:30% ;
    }
}