body{
    font-family:var(---font-family) 
}
*{
    font-family: var(---font-family);
}
:root{
    ---background_color: rgb(255, 149, 0);
    ---secondary:black;
    ---font-family: Georgia, 'Times New Roman', Times, serif

}
/* -------header----------- */
header{
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 5px;
    z-index: +100;
    background-color: var(---background_color);
}
.nav{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    z-index: 100;
    padding: 10px;
}
.nav
a{
    text-decoration: none;
    color: black;
    font-weight:800;

}
.nav
a:hover{
border-top: 1px solid black;
border-bottom: 1px solid black;
}
/* search bar */
 
/* ----------banner---------- */
#banner{
    margin-top: 1%;
    z-index: -100;
    background-color: var(---background_color);
}
#banner .col{
    margin-top: 7%;
}
#banner .col h3{
    margin-top: 20%;
    font-weight: 900;
    /* font-family:; */
}
#banner .col p{
    text-align: left;
    color: var(---secondary);
}

#banner button{
    padding: 10px;
    width: 30%;
    background-color: var(---secondary);
    border: none;
    color: white;
    font-weight: 800;
}
#banner img{
width: 50%;
animation: bounce infinite;
animation-duration:10s;

}


/* search */
.search{
    text-align: center;
    margin-top: 1%;
}
.search button{
    background-color: var(---secondary);
    color: white;
    font-weight: 800;
    border: none;
    border: var(---secondary) 1px dotted;
    border-radius: 10px;

}

.search input{
    color: black;
    border: 1px solid gray;
    border-radius: 10px;
   
}
.search input::placeholder{
    color: gray;
}
/* ----------ABOUT US---------- */
#about{
    text-align: center;
    background-color: var(---secondary);
    color:white;
}

#about .col:nth-child(2){
    color: white;
    text-align: right;
    margin: 10% 10%;
}

#about img{
    width: 50%;
}
 
#about h3{
    font-weight: 900;
    padding: 5% 0;
}


/* --------------main section------------------ */
.main{
    background-color: white;
    margin-top: 50px;
}
.output{
    z-index: 0;
  
}
.output .card{
    width: 350px;
}
.output,.searched ,.displayWish{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-content: space-around;
    /* justify-content: center; */
}

.cart ,
.display{
    text-align: center;
    /* display: grid;id */
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.card ,.card_cart{
    width: 260px;
    border: 1px solid gray;
    margin: 2px;
    border-radius: 10px;
}
.buttonwish{
    border:---secondary 1px solid ;
    background-color:var(---secondary);
    color:white;
    width:80%;
    padding: 10px;
}
.button{
   background-color: white;

   border: none;
    color:var(---secondary);
    width:80%;
    padding: 10px;
}
.wishbtn{
    padding: 10px;
    border: none;
    background-color: white;
    float: right;
}
 









.clearButton{
    border: 1px solid rgba(128, 0, 128, 0.587);
    background-color: rgba(128, 0, 128, 0.587);
    color:white;
    width:10%;
    padding: 10px;
}
.buttonRemove{
    border: 1px solid rgba(255, 0, 0, 0.658);
    background-color: rgba(255, 0, 0, 0.658);
    color:white;
    width:80%;
    padding: 10px;
}


.searchbar{
    padding: 10px;
    width: 50%;
}
.searchbtn{
    padding: 10px;
}

.error{
    color: red;
}

.card-image img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.menubtn{
    padding: 10px;
}

.purchase{
    background-color: darkslategray;
}

 



.singleproduct{
    position: fixed;
    width: 80%;
    height: 90vh;
    background-color: white;
    top: 6%;
    left: 10%;
    right: 10%;
    z-index: 1;
}

.singleproduct > .nav{
    width: 10%;
    float: right;
    margin-top: 1%;
}

.cover{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.92);
    top: 0;
    left: 0;
}


/* ---------------------------- */
.rowSinglePrd{
    padding: 10px;
    color: white;
    font-size: 15px;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgba(0, 0, 0, 0.699);
    margin: 5% 10%;
    border: 1px solid black;
    border-radius: 10px;
}

.right , .left{
    text-align: center;
    width: 90%;

 }

 .rowSinglePrd button{
    background-color:rgba(0, 128, 0, 0.514) ;
    border: none;
    padding: 10px 20px;
    width: 40%;
    color: white;
 }


.right{
    margin-top: 20%;
}
.cart_btn_holder{
    margin-top: 10%;
}
.cart_add{
    width: 70%;
}

.view{
    width: 90%;
    background-color: white;
    color:var(---secondary);
    border: none;
    padding: 2px;
    margin: 2px;
}


.wish-holder{
    float: right;
    margin: 3px;
}


.view{
    padding: 10px;
}

.card .row{
    margin-top: 4%;
}


@media(width < 600px) {
    .output,.displayWish{
        grid-template-columns: auto auto !important;
    }

 
    .output .card{
        width: 100%;
        margin-left:10% ;
    }
    .output .card img{
        width: 70%;
    }
.nav{
    width: 100%;
}


#banner .row{
    /* text-align: center; */
    margin-top: 25%;
    display:flex;
    flex-direction: column;
    
}
.main .output{
    margin: 0;
    text-align: center;
    margin: 10%
    ;justify-content: start;
}
.main .output .card{
    width: auto;
    margin: 2%;
}
 
#about .col{
    text-align: center;
    margin: 10%;
    padding: 0;
}
#about .col p{
    text-align: left;
}
#about .row{
    width: 90%;
    display:flex;
    flex-direction: column;
}
}
 

@media(width < 900px) {
    .output,.displayWish{
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
    }
/* .output{
    
} */
    .output .card{
        width: 80%;
        margin-left:10% ;
    }
    .output .card img{
        width: 50%;
    }
.nav{
    width: 100%;
}


#banner .row{
    margin-top: 7%;
    padding-bottom:10% ;
 
    
}
.main .output{
    margin: 0;
    text-align: center;
    margin: 10%
    ;justify-content: start;
}
.main .output .card{
    width: auto;
    margin: 2%;
}
 
#about .col{
    text-align: center;
    margin: 10%;
    padding: 0;
}
#about .col p{
    text-align: left;
}
#about .row{
    width: 90%;
    display:flex;
}

} 




/* --------------MODAL STUFF */
 
.btn-close{
    color: white;
}

 
 
.modal-body img{
    width: 100px;
}

.modal-body{
    color: var(---secondary);
}

.modal-footer button{
    width: 40%;
    color: white;
}


/* ------------searched------------------ */
.searched{
    display: flex;
    flex-direction: column;
}

.searched .card{
    width: 90%;
    margin: 5px 4.5%;
}

.searched .card .col-3{
    border: 1px solid red;
}
.searched .card .col-9{
    border: 1px solid red;
}
.searched img{
    width: 20%;
}

.searched .card button{
    background-color: white;
    border: none;
}


.cart_length,.wish_length,.cart_length_2{
    background-color: var(---secondary);
    border-radius:20px ;
    color: white;
    padding: 5px;
    font-size: 10px;
    
}